*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

a{
    text-decoration: none;
}
a:link, a:active {
    color: rgb(105, 38, 159);
}
a:hover{
    color: rgb(132, 4, 238);
}
a:visited{
    color: rgba(51, 6, 90, 0.341);
}
a:active{
    color: rgb(92, 0, 138);
}

h3{
    margin: 5px;
}

img{
    width: 100px;
    height: auto;
}

.page-logo {
    background-image: linear-gradient(rgb(43, 21, 61), rgb(13, 12, 12));
    padding: 10px;
    text-align: center;
    color: whitesmoke;
}

.logo-text{
    color: whitesmoke;
    animation-name: logoText;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes logoText {
    from {color: rgb(18, 18, 18);}
    to {color: rgb(255, 255, 255);}
}

.navbar-menu{
    height: 40px;
    padding: 5px;
    background-color:whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    text-transform: uppercase;
    font-weight: bold;
}

.artigo-produtos{
    border: 1px solid black;
    padding: 5px;
}

.lista-produtos{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: whitesmoke;
    margin: 30px;
}

.item > h4{
   text-decoration: underline;
   margin-bottom: 5px;
}

.item > a {
    text-decoration: underline;
    margin: 5px;
}

.produto-descricao{
    display: flex;
    margin: 5px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.produto-descricao > dl{
    margin-left: 50px;
    padding: 5px;
}

.produto-descricao > dl > hr{
    margin-top: 5px;
    margin-bottom: 5px;
}

.produto-descricao > dl > dd > ul > li{
    margin-bottom: 5px;
    margin-left: 30px;
}

.valor-produto{
    text-align: center;
    padding: 5px;
    font-size: large;
}

.btn-customizado{  
    width: auto;
    height: 35px;
    padding: 5px;
    background-color: rgb(66, 28, 101);
    color: white;
    border-radius: 5px;
    border: 0;
    margin-bottom: 10px;
}

.buttons{
    text-align: left;
}

.quem-somos{
    text-align: center;
    margin: 5px;
}

.quem-somos > p {
    text-indent: 50px;
    text-align: justify;
    padding: 20px;
}

table, th, td {
    border: 1px solid black;
    width: 100%;
    text-align: center;
}

footer{
    height: 50px;
    padding: 5px;
    background-color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid black;
}

#form-contato {
    text-align: center;
    font-size: larger;
}

#form-contato > figure > img {
    width: 33%;
    height: auto;
    
}
.fale-conosco{
    border: 1px solid black;
    padding: 20px;
    width: auto;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    background-image: linear-gradient(whitesmoke, rgb(134, 94, 148));
}

form {
    border: 1px solid black;
    border-radius: 5px;
    width: 500px;
}

.back-btn{
    color: white;
}
